#roomname {
  text-align:	    center;
  
}

body {

}

#container {
  margin-left:	    10%;
  margin-right:	    10%;
}

#remoteMedia,#local {
  width:	    100%;
  display:	    flex;
  justify-content:  center;
  align-content:    center;
  align-items:	    center;
}

.box {
  flex:		    0 1 auto;
  align-self:	    auto;
  min-width:	    170px;
  min-height:	    100px;
  text-align:	    center;
  margin:	    0 10px;
}

#boardDiv {
  width:	    100%;
}

#board {
  margin: 1% 30%;
  padding: 1% 5%;
}

.placeholder {
  height:           100px;
  background-color: #000000;
  color:     	    #000000;
  border-radius:    2px;
  /*border: 	    2px solid;*/
  font-weight:	    bold;
  /*box-shadow:	    5px 5px 5px #888;*/
  margin:           5% 10%;
  line-height:      2;
}