#roomname {
  text-align:	    center;
  
}

body {
  
}

#container {
  margin-left:	    10%;
  margin-right:	    10%;
}

#remoteMedia,#local {
  width:	    100%;
  display:	    flex;
  justify-content:  center;
  align-content:    center;
  align-items:	    center;
}

.box {
  flex:		    0 1 auto;
  align-self:	    auto;
  min-width:	    70px;
  min-height:	    100px;
  text-align:	    center;
  margin:	    0 10px;
}

#boardDiv {
  width:	    100%;
  }

#board {
  margin: 0% 35%;
}

.placeholder {
  height:           100px;
  background-color: #D3E690;
  color:     	    #000000;
  border-radius:    5px;
  border: 	    3px solid;
  font-weight:	    bold;
  box-shadow:	    5px 5px 5px #888;
  margin: 5% 25%;
}