doctype html
html
  head
    meta(charset='utf-8')
    title #{roomname} TalkRoom
    link(rel='stylesheet', href='/css/style.css')
  body
    h3(id='roomname') ...
    div(id='container')
      div(id='remoteMedia')
      div(id='boardDiv')
        div(id='board')
      div(id='local')
        div(class='box')
          div(id='localPlaceHolder' class='placeholder') Me
          audio(id='localMedia', autoplay, mute)
          br
          input(id='inputbox',type='text',placeholder='type & send')
          button(id='sendbtn') send
    script var room = '#{roomname}';
    script(src='/socket.io/socket.io.js')
    script(src='/js/mk_color_scheme.js')
    script(src='/js/main.js')
