doctype html
html
  head
    meta(charset='utf-8')
    title TalkRoom Powerd By WebRTC
    link(rel='stylesheet', href='/css/style.css')
  body
    h2(id='roomname') ClassRoom By WebRTC
    div(id='container', style='display: flex; flex-direction: column;')
      div(class='list', id='board')
        h4 Waiting to join random group chat...
        h4(id='eta') ...
    script(src='/socket.io/socket.io.js')
    script(src='/js/mk_color_scheme.js')
    script(src='/js/class.js')